* {
    box-sizing: border-box;
}

body {
    background-image: url("/img/background.jpg");
}

@font-face {
    font-family: Pusab;
    src: url("/fonts/PUSAB___.otf");
}

@font-face {
    font-family: geometryDash;
    src: url("/fonts/OXYGENE1.TTF");
}

#title {
    font-size: 2.3em;
    text-align: center;
    font-family: geometryDash, serif;
    color: #7eeb2d;
    background: ghostwhite;
    border: 2px solid black;
    margin: 0 10em 0 10em;
    border-radius: 15px;
    padding: 10px 0 10px 0;
}

.titleObj {
    font-size: 1.5em;
    color: red;
}

.column {
    float: left;
    padding: 10px;
}

.left{
    width: 20%;
}

.right {
    text-align: center;
    width: 20%;
}

.middle {
    text-align: center;
    width: 60%;
}

/* Clear floats after the columns */
.row:after {
    content: "";
    display: table;
    clear: both;
}

#canvas {
    /*position: absolute;*/
    /*top: 6em;*/
    /*bottom: 0;*/
    /*left: 0;*/
    /*right: 0;*/
    /*display: block;*/
    /*margin: 0 auto;*/
    border: 5px solid #cccccc;
    border-radius: 15px;
    outline: 1px solid #000000;
    box-shadow: 0 0 1px rgba(0, 0, 0, 0.30), 0 1px 1px rgba(0, 0, 0, .4);
}

/************ RIGHT PANEL *******************/


#startButton {
    /*position: absolute;*/
    /*right: 2em;*/
    color: #f8f8ff;
    font-family: Pusab, serif;
    height: 2em;
    width: 5em;
    font-size: 1.8em;
    background: lightgrey;
}

#counter {
    /*position: absolute;*/
    /*right: 2em;*/
    /*top: 8em;*/
    font-family: Pusab, serif;
    margin-top: 2em;
    height: 2em;
    width: 5.2em;
    text-align: center;
    color: #f8f8ff;
    font-size: 1.8em;
    background: darkorange;
}

#quitButton {
    /*position: absolute;*/
    /*bottom: 1.1em;*/
    font-family: Pusab, serif;
    margin-top: 5em;
    color: #f8f8ff;
    height: 2em;
    width: 5em;
    font-size: 1.8em;
    background: orangered;
}

/*******************************/

/************ LEFT PANEL *******************/

#instruction {
    font-family: Pusab, serif;
    padding: 10px;
    width: 18em;
    color: black;
    font-size: 1em;
    background: ghostwhite;
}

.key {
    border: 2px solid black;
    border-radius: 5px;
    padding: 2px;
    font-weight: bold;
}

#mySettings {
    margin-top: 1em;
    padding: 0.5em;
    font-family: Pusab, serif;
    font-size: 1em;
    color: ghostwhite;
    background: darkorange;
}

.subTitle {
    font-size: 1.5em;
    margin: 0 0 0.5em 0;
}

#gui{
    margin-top: 1em;
}

/*******************************/

.borderCss{
    border: 3px solid #cccccc;
    border-radius: 15px;
    outline: 1px solid #000000;
    box-shadow: 0 0 1px rgba(0, 0, 0, 0.30), 0 1px 1px rgba(0, 0, 0, .4);
}

.material-icons{
    float: right;
    margin: 0;
}

.colInside{
    float: left;
}

.leftIn, .rightIn, .middleIn{
    width: 100%;
}

/********************/

/************ MEDIA QUERY *******************/

@media screen and (min-width: 769px) {
    img, #icon {
        display: none;
    }
}

@media screen and (min-width: 575px) and (max-width: 768px) {
    .column{
        width: 100%;
    }
    #title{
        font-size: 1.6em;
        margin: 0;
    }
    #canvas{
        width: 550px;
    }
    #gui, #instruction{
        display: none;
    }
    .subTitle{
        font-size: 1.2em;
        margin: 0.2em 0 0 0;
    }
    #mySettings {
        margin: 0;
        padding: 3px;
    }
    #startButton, #counter, #quitButton{
        width: 90%;
        font-size: 1.2em;
        margin: 0;
    }
    .leftIn, .rightIn, .middleIn{
        text-align: center;
        width: 33.33%;
        margin: 0;
    }
    img{
        margin-top: 3em;
        width: 80px;
        height: 80px;
    }
}


@media screen and (min-width: 320px) and (max-width: 575px) {
    .column{
        width: 100%;
    }
    #title{
        font-size: 1.6em;
        margin: 0;
    }
    #canvas{
        width: 380px;
    }
    #gui, #instruction{
        display: none;
    }
    .subTitle{
        font-size: 1.2em;
        margin: 0.2em 0 0 0;
    }
    #mySettings {
        margin: 0;
        padding: 3px;
    }
    #startButton, #counter, #quitButton{
        font-size: 1.2em;
        width: 90%;
        margin: 0;
    }
    .leftIn, .rightIn, .middleIn{
        text-align: center;
        width: 33.33%;
        margin: 0;
    }
    img{
        margin-top: 4em;
        width: 80px;
        height: 80px;
    }

}


/*@media screen and (max-width: 600px) {*/
/*    .column1 {*/
/*        width: 100%;*/
/*    }*/

/*    .column2 {*/
/*        width: 96.7%;*/
/*        max-width: 96.7%;*/
/*        height: 100%;*/
/*        margin-left: 10px;*/
/*        margin-right: 200px;*/
/*    }*/

/*    #canvas {*/
/*        max-height: 30vh;*/
/*    }*/
/*}*/

/*@media screen and (max-width: 480px) {*/
/*    .show-on-desktop {*/
/*        display: none;*/
/*    }*/
/*}*/

/*@media screen and (min-width: 481px) {*/
/*    .hide-on-desktop {*/
/*        display: none;*/
/*    }*/
/*    !*#instruction, #gui{*!*/
/*    !*    display: none;*!*/
/*    !*}*!*/

/*    !*#startButton{*!*/
/*    !*    bottom: 0.5em;*!*/
/*    !*    right: 10em;*!*/
/*    !*}*!*/
/*}*/


